// SMALL START

.brand {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 1rem;
}

h2 {
  font-size: 0.5rem;
  letter-spacing: .5rem;
  // text-align: center;
}

h1 {
  font-size: 1rem;
  font-weight: 400;
  display: inline-block;
  margin: 0 auto;
}

.nav-mini {
  ul {
    list-style: none;
    padding: .5rem 0;
    margin: 0;
    box-sizing: border-box;
    display: inline-block;
  }
  li {
    border: solid 0.15rem $color_default;
    border-radius: 50%;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    a {
      color: $color_default;
    }
  }
}

@media (min-width: 510px) {
  h1 {
    font-size: 1.25rem;
  }
  .nav-mini {
    margin-bottom: 1rem;
  }
}

@media (min-width: 840px) {
  .brand {
    text-align: left;
    width: 80%;
  }

  .text-header {
    display: inline-block;
    h2 {
      display: block;
      font-size: .75rem;
    }
    h1 {
      display: inline-block;
      font-size: 1.75rem;
      margin-bottom: 1rem;
    }
  }

  .brand .nav-mini {
    text-align: center;
    float: right;
    padding: 0;
    margin: 0;
    display: inline;
  }

}
