body {
  font: {
    size: 62.5%;
    // family: 'Roboto', sans-serif;
    family: 'Source Sans Pro', sans-serif;
  }
  color: $color_default;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.index-link {
  width: 50%;
  margin: 0 auto;
  a {
    text-align: center;
  }
}
