body {
  font-size: 62.5%;
  font-family: 'Source Sans Pro', sans-serif;
  color: RGB(71, 163, 218);
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.index-link {
  width: 50%;
  margin: 0 auto; }
  .index-link a {
    text-align: center; }

.brand {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 1rem; }

h2 {
  font-size: 0.5rem;
  letter-spacing: .5rem; }

h1 {
  font-size: 1rem;
  font-weight: 400;
  display: inline-block;
  margin: 0 auto; }

.nav-mini ul {
  list-style: none;
  padding: .5rem 0;
  margin: 0;
  box-sizing: border-box;
  display: inline-block; }
.nav-mini li {
  border: solid 0.15rem RGB(71, 163, 218);
  border-radius: 50%;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  line-height: 1rem; }
  .nav-mini li a {
    color: RGB(71, 163, 218); }

@media (min-width: 510px) {
  h1 {
    font-size: 1.25rem; }

  .nav-mini {
    margin-bottom: 1rem; } }
@media (min-width: 840px) {
  .brand {
    text-align: left;
    width: 80%; }

  .text-header {
    display: inline-block; }
    .text-header h2 {
      display: block;
      font-size: .75rem; }
    .text-header h1 {
      display: inline-block;
      font-size: 1.75rem;
      margin-bottom: 1rem; }

  .brand .nav-mini {
    text-align: center;
    float: right;
    padding: 0;
    margin: 0;
    display: inline; } }
.nav-main ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 100%; }
  .nav-main ul a {
    color: RGB(203, 203, 203); }
  .nav-main ul li {
    float: left;
    display: inline-block;
    width: 20%;
    text-align: center;
    box-sizing: border-box; }
  .nav-main ul .fa {
    font-size: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem; }

.box-left {
  border-right: 0.1rem;
  border-top: 0.1rem;
  border-bottom: 0;
  border-left: 0;
  border-top: 0.1rem;
  border-color: RGB(203, 203, 203);
  border-style: solid; }

.box-right {
  border-right: 0rem;
  border-top: 0.1rem;
  border-bottom: 0;
  border-left: 0;
  border-top: 0.1rem;
  border-color: RGB(203, 203, 203);
  border-style: solid; }

.box-inner {
  border-top: 0.1rem;
  border-right: 0.1rem;
  border-bottom: 0;
  border-left: 0;
  border-color: RGB(203, 203, 203);
  border-style: solid; }

.button-description {
  display: none; }

.nav-main ul::after {
  content: '';
  display: block;
  clear: both; }

.nav-main a:hover .fa {
  color: RGB(71, 163, 218); }
.nav-main a:hover .button-description {
  color: RGB(71, 163, 218); }

@media (min-width: 510px) {
  .box-inner, .box-left, .box-right {
    border-top: 0.1rem;
    border-right: 0.1rem;
    border-bottom: 0;
    border-left: 0.1rem;
    border-color: RGB(203, 203, 203);
    border-style: solid; } }
@media (min-width: 510px) and (max-width: 839px) {
  .nav-main {
    display: table;
    margin: 0 auto; }
    .nav-main ul {
      width: 100%;
      margin: 0 auto;
      display: inline; }
      .nav-main ul li {
        float: left;
        width: 3rem;
        margin-right: .25rem;
        margin-left: .25rem;
        display: inline; } }
@media (min-width: 840px) {
  .nav-main {
    margin: 0 auto;
    width: 100%;
    clear: both;
    text-align: center; }
    .nav-main ul {
      margin: 0 auto;
      width: 100%; }
      .nav-main ul li {
        width: 6rem;
        padding-right: .5%;
        padding-left: .5%;
        display: inline;
        margin: 0 .25rem; }

  .button-description {
    display: inline;
    font-size: 1rem; } }
.menu-items {
  border-top: 0.1rem solid RGB(71, 163, 218);
  padding-top: 2rem; }

.item-selection {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem; }
  .item-selection img {
    width: 50vw; }
  .item-selection p {
    font-weight: 400; }

@media (min-width: 510px) and (max-width: 839px) {
  .item-selection {
    text-align: left;
    margin: 0 auto;
    width: 95%;
    padding-top: 1rem;
    padding-bottom: 1rem; }
    .item-selection img {
      display: block;
      width: 40%;
      float: left;
      padding-right: 1rem; }
    .item-selection h3 {
      margin: 0; }

  .item-selection::after {
    content: '';
    display: block;
    clear: both; } }
@media (min-width: 840px) {
  .menu-items {
    margin: 0 auto;
    width: 100%;
    display: table;
    padding-left: 3.5%; }

  .item-selection {
    margin: 0 auto;
    display: inline-block;
    margin: 2rem 1rem;
    text-align: top;
    max-width: 28%; }
    .item-selection ul li {
      display: inline-block; }
    .item-selection img {
      width: 100%; } }
footer {
  margin: 0 auto;
  padding: 3rem 0 1rem 0;
  width: 100%;
  text-align: center; }
  footer a {
    color: RGB(203, 203, 203);
    text-decoration: none; }

/*# sourceMappingURL=sushi.css.map */
